{% extends 'base.html' %}

{% block content %}
<!-- Container where data will be displayed -->
<div class="container cards">
    <div class="row">
        <div class="col-12">
            <h1>Pokemon Cards on eBay</h1>
        </div>
        <div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-start d-md-flex d-block">
            <div class="form-group mb-3 mb-md-0">
                <label for="ebay-api-key">Enter eBay API key:</label>
                <input type="text" id="ebay-api-key" class="form-control">
            </div>
            <div class="form-group mb-3 mb-md-0 ms-md-3">
                <label for="graded-check">Graded:</label>
                <select id="graded-check" class="form-select">
                    <option value="All" selected>All</option>
                    <option value="Graded">Graded</option>
                    <option value="Ungraded">Ungraded</option>
                </select>
            </div>
            <div class="form-group mb-3 mb-md-0 ms-md-3">
                <label for="set-to-check">Set to Check:</label>
                <select id="set-to-check" class="form-select">
                    <option value="All" selected>All</option>
                    <option value="Prismatic Evolutions">Prismatic Evolutions</option>
                    <option value="Surging Sparks">Surging Sparks</option>
                    <option value="Crown Zenith">Crown Zenith</option>
                    <option value="Crown Zenith Galarian Gallery">Crown Zenith Galarian Gallery</option>
                    <option value="Evolving Skies">Evolving Skies</option>
                    <option value="Paldea Evolved">Paldea Evolved</option>
                    <option value="151">151</option>
                    <option value="Obsidian Flames">Obsidian Flames</option>
                    <option value="Vivid Voltage">Vivid Voltage</option>
                    <option value="Silver Tempest">Silver Tempest</option>
                    <option value="Astral Radiance">Astral Radiance</option>
                    <option value="Brilliant Stars">Brilliant Stars</option>
                    <option value="Twilight Masquerade">Twilight Masquerade</option>
                    <option value="Paldean Fates">Paldean Fates</option>
                    <option value="Paradox Rift">Paradox Rift</option>
                    <option value="Base Set">Base Set</option>
                </select>
            </div>
            <div class="form-group mb-3 mb-md-0 ms-md-3">
                <label for="min-bid-price">Min Bid:</label>
                <input type="number" id="min-bid-price" class="form-control" value="10" min="0">
            </div>
            <div class="form-group mb-3 mb-md-0 ms-md-3">
                <label for="max-bid-percentage">Max Bid %:</label>
                <input type="number" id="max-bid-percentage" class="form-control" value="0.80" step="0.01" min="0" max="1">
            </div>
            <!-- New Time Left Hours Input Field -->
            <div class="form-group mb-3 mb-md-0 ms-md-3">
                <label for="time-left-hours">Time Left Hours:</label>
                <input type="number" id="time-left-hours" class="form-control" value="1" min="0">
            </div>
            <div class="form-group mb-3 mb-md-0 ms-md-3">
                <button id="loadDataBtn" class="btn btn-dark">Load Data</button>
            </div>
        </div>
    </div>
    <div class="row card"></div>
    <div class="api-counter"></div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            // This function runs when the page is loaded and the button is clicked
            $('#loadDataBtn').click(function() {

                // Get the value of the eBay API key input field
                var ebayApiKey = $('#ebay-api-key').val();

                // Get the value of the Graded Check dropdown
                var gradedCheck = $('#graded-check').val();

                // Get the value of the Set to Check dropdown
                var setToCheck = $('#set-to-check').val();

                // Get the value of the Minimum Bid Price input field
                var minBidPrice = $('#min-bid-price').val();

                // Get the value of the Maximum Bid Percentage input field
                var maxBidPercentage = $('#max-bid-percentage').val();

                // Get the value of the Time Left Hours input field
                var timeLeftHours = $('#time-left-hours').val();

                // Show the loading icon
                $('.row.card').html('<div class="spinner"><i class="fas fa-spinner fa-spin"></i></div>');

                $.ajax({
                    url: '/load_data/?ebay_api_key=' + encodeURIComponent(ebayApiKey) +
                        '&graded_check=' + encodeURIComponent(gradedCheck) +
                        '&set_to_check=' + encodeURIComponent(setToCheck) +
                        '&time_left_hours=' + encodeURIComponent(timeLeftHours) +
                        '&min_bid_price=' + encodeURIComponent(minBidPrice) +
                        '&max_bid_percentage=' + encodeURIComponent(maxBidPercentage),
                    method: 'GET',
                    dataType: 'json',  // Specify the data type as JSON
                    success: function(response) {
                        var cardsInfo = response.cards_info;
                        var dataList = '<div class="row g-3">';
                        cardsInfo.forEach(function(item) {
                            dataList += `
                                <div class="card-item col-12 col-sm-12 col-md-4 col-lg-4">
                                    <img src="${item.image_url}" alt="Card Image" class="card-img-top d-block mx-auto" style="width: 80%; height: auto;">
                                    <div class="card-body">
                                        <h5 class="card-title">${item.card_name}</h5>
                                        <p class="card-text">
                                            <strong>Time Left:</strong> ${item.time_left}<br>
                                            <strong>Current Bid:</strong> $${item.current_bid_price}<br>
                                            <strong>Market Value:</strong> $${item.market_value}
                                        </p>
                                        <a href="${item.view_item_url}" class="btn btn-primary" target="_blank">View on eBay</a>
                                    </div>
                                </div>
                            `;
                        });
                        dataList += '</div>';
                        api_counter = response.api_counter;
                        console.log(dataList);
                        $('.row.card').html(dataList);
                        $('.api-counter').html('API Counter: ' + api_counter);
                    },
                    error: function(xhr, status, error) {
                        $('.row.card').html(error);
                    }
                });
            });
        });
    </script>

    <!-- AJAX Request Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
{% endblock %}