{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container cards">
    <div class="row">
        <div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-start">
            <!-- First Row -->
            <div class="row w-100">
                <div class="card-form-field col-12 col-md-8 mb-3 d-flex justify-content-between">
                    <div class="form-group mb-3 mb-md-0 w-75">
                        <label for="ebay-api-key">Enter eBay API key:</label>
                        <input type="text" id="ebay-api-key" class="form-control">
                    </div>
                    <button id="saveApiKeyBtn" class="btn btn-dark">Save API Key</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#saveApiKeyBtn').click(function() {
            var ebayApiKey = $('#ebay-api-key').val();

            $.ajax({
                url: '/save_api_key/?ebay_api_key=' + encodeURIComponent(ebayApiKey),
                method: 'GET',
                dataType: 'json',
                success: function(response) {
                    $('#saveApiKeyBtn').addClass('btn-success').removeClass('btn-dark').text('API Key Saved!');
                    setTimeout(function() {
                        $('#saveApiKeyBtn').addClass('btn-dark').removeClass('btn-success').text('Save API Key');
                    }, 3000); // Revert the button after 3 seconds
                },
                error: function(xhr, status, error) {
                    console.error('Error saving API key:', error);
                }
            });
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
{% endblock %}