{% extends 'base.html' %}
{% block title %}Saved - Pokemon Ebay Tracker{% endblock %}
{% load static %}

{% block content %}
    <section id="billboard" class="bg-light py-4">
        <div class="container">
        <div class="row justify-content-center">
            <h1 class="section-title text-center aos-init aos-animate" data-aos="fade-up">Saved Items</h1>
        </div>
        </div>
    </section>

<section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden"></section>
  <div class="container">
    <div class="card-items-container mx-auto row card">
      {% for item in saved_items %}
      <div class="product-item card-item col-12 col-sm-12 col-md-4 col-lg-4">
          <img src="{{ item.image_url }}" alt="Card Image" class="card-img-top d-block mx-auto product-image img-fluid" style="height: 260px; object-fit: contain; width: 100%;">
          <div class="card-body" data-image-url="{{ item.image_url }}" data-ebay-id="{{ item.ebay_id }}" data-current-bid-price="91.00">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">
                  <strong>Item Number: </strong>{{ item.ebay_id }} 
                  <button class="copy-ebay-id btn btn-sm btn-light" style="background-color: #FFFFFF;" data-clipboard-text="{{ item.ebay_id }}">
                  <i class="fas fa-paperclip"></i>
                  </button><br>
                  <strong>End Time: </strong>{{ item.end_time }}<br>
                  <strong>Current Bid: </strong>${{ item.price }}<br>
                  <strong>Max Bid: </strong>${{ item.max_bid_price }}<br>
                  {% if item.ungraded_price %}
                  <strong>Ungraded Price:</strong> ${{ item.ungraded_price }}<br>
                  {% endif %}
                  {% if item.grade7_price %}
                      <strong>Grade 7 Price:</strong> {{ item.grade7_price }}<br>
                  {% endif %}
                  {% if item.grade8_price %}
                      <strong>Grade 8 Price:</strong> {{ item.grade8_price }}<br>
                  {% endif %}
                  {% if item.grade9_price %}
                      <strong>Grade 9 Price:</strong> ${{ item.grade9_price }}<br>
                  {% endif %}
                  {% if item.grade95_price %}
                      <strong>Grade 9.5 Price:</strong> ${{ item.grade95_price }}<br>
                  {% endif %}
                  {% if item.grade10_price %}
                      <strong>Grade 10 Price:</strong> ${{ item.grade10_price }}<br>
                  {% endif %}
                  </p>
              <p></p>
              <a href="https://www.gixen.com/main/home_2.php" class="btn btn-dark ebay-link" target="_blank">Go to Gixen</a>
              <a href="{{ item.ebay_url }}" class="btn btn-dark ebay-link" target="_blank">View on eBay</a>
              <div class="delete-item row w-100">
                <div class="card-form-field col-12 col-md-6 mb-3">
                    <div class="form-group mb-3 mb-md-0">
                        <button id="deleteSavedItemBtn" class="btn btn-dark deleteSavedItemBtn">Delete Item</button>
                    </div>
                </div>
            </div>
          </div>
      </div>
      {% empty %}
        <div class="alert alert-info">
          No saved items found.
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    new ClipboardJS('.btn');

    $(document).ready(function() {
        $(document).on('click', '.deleteSavedItemBtn', function() {
            var cardContainer = $(this).closest('.card-body');
            var ebayId = cardContainer.data('ebay-id');
            var deleteButton = $(this);

            if (!ebayId) {
                console.error("Error: eBay ID is missing!");
                alert("Error: Could not retrieve eBay ID.");
                return;
            }

            // Construct the request URL
            var requestUrl = `/delete_saved_item?` +
                `ebay_id=${encodeURIComponent(ebayId)}`;

            console.log("Deleting saved item:", requestUrl)

            // Send the AJAX request
            $.ajax({
                type: 'GET',
                url: requestUrl,
                success: function(data) {
                    console.log("Response from server:", data);

                    if (data.message === 'Saved item deleted successfully') {
                        deleteButton.text('Deleted')
                            .removeClass('btn-dark')
                            .addClass('btn-success')
                            .prop('disabled', true);
                    } else {
                        alert('Error deleting item: ' + data.message);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error during delete operation:", xhr.responseText || error);
                }
            });
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
{% endblock %}