/* Apply the background image to the entire viewport */
.outer-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/website_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; /* Keeps the content horizontally centered */
    align-items: flex-start; /* Aligns the content at the top of the page */
    padding-top: 20px; /* Adds space from the top of the page */
}

/* The main content div will have a white background and centered layout */
.main {
    background-color: white;
    border-radius: 8px; /* Optional: Adds rounded corners to the main div */
    padding: 30px; /* Optional: Adds padding inside the main content area */
    width: 80%; /* Adjusts width of the main content */
    max-width: 1000px; /* Optional: Limits the width */
}

.card-img-top {
    width: 80%;
    aspect-ratio: 1/1; /* Set a fixed aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
}

.container.cards #loadDataBtn {
    margin-bottom: 10px;
}

.api-counter {
    padding-top: 25px;
}

.pokemon-logo {
  max-width: 40%;
  padding-bottom: 15px;
  filter: brightness(85%);
}

@media (max-width: 768px) {
    .pokemon-logo {
        max-width: 90%;
    }
}

.header-title {
    text-align: center;
  }